* {
    margin: 5PX;
    padding: 5PX;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    height: 100%;
}

body,
header,
main,
footer {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem
}

body {
    font-family: Arial, sans-serif;
    /* margin: 0; */
    padding: 0;
    background-color: #f0f0f0;
}

main {
    min-height: 500px;
}

header {
    background-color: black;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: black;
    padding: 85px;
    text-align: center;
}

h1 {
    color: #fff;
}

nav {
    background-color: pink;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


.header-logo img {
    width: 120px;
    display: inline-block;
    margin: 0.5rem;
}


.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

}

.servicios {
    padding: 20px;
}

.servicio {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


.nav-list {
    display: flex;
    gap: 1rem;

}

@media screen and (max-width: 550px) {
    .abrir-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        cursor: pointer;

    }



    .header-menu {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
    }

    .header-menu.visible {
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;




    }
}

h2 {
    font-family: 'Phudu', sans-serif;
    font-family: 'Raleway', sans-serif;

}